services:
  fastapi:
    build:
      context: .
      dockerfile: docker/FastApiDockerfile
    container_name: fastapi
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1
    depends_on:
      - ollama
      - redis
    restart: always

  redis:
    image: "redis:latest"
    container_name: redis
    hostname: redis
    expose:
      - "6379"
    command: ["redis-server"]
    restart: always

  ollama:
    build:
      context: .
      dockerfile: docker/OllamaDockerfile
    container_name: ollama
    hostname: ollama
    expose:
      - "11434"
    restart: always